<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset("css/w3.css") }}">
            <link rel="stylesheet" href="{{ asset("css/custom.css") }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div id="nav" class="w3-sidebar w3-bar-block w3-small w3-green w3-hide-small w3-center w3-card" style="width:120px">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ absolute_url(path("frontend_user_index")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-home w3-xxlarge"></i><p>Home</p></a>
                <a href="{{ absolute_url(path("frontend_user_preference")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-coffee w3-xxlarge"></i><p>Preferences</p></a>
                <a href="{{ absolute_url(path("security_logout")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-sign-out w3-xxlarge"></i><p>Sign out</p></a>
                <hr>
                <a href="{{ absolute_url(path("backend_admin_user_report")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-clipboard w3-xxlarge"></i><p>Report</p></a>
                <a href="{{ absolute_url(path("backend_admin_user_member")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-users w3-xxlarge"></i><p>Members</p></a>
                <a href="{{ absolute_url(path("frontend_user_detail")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-cog w3-xxlarge"></i><p>Details</p></a>
            {% elseif is_granted('ROLE_USER') %}
                <a href="{{ absolute_url(path("frontend_user_index")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-home w3-xxlarge"></i><p>Home</p></a>
                <a href="{{ absolute_url(path("frontend_user_preference")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-coffee w3-xxlarge"></i><p>Preferences</p></a>
                <a href="{{ absolute_url(path("frontend_user_detail")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-cog w3-xxlarge"></i><p>Details</p></a>
                <a href="{{ absolute_url(path("security_logout")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-sign-out w3-xxlarge"></i><p>Sign out</p></a>
            {% else %}
                <a href="{{ absolute_url(path("home_index")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-home w3-xxlarge"></i><p>Home</p></a>
                <a href="{{ absolute_url(path("home_about")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-user w3-xxlarge"></i><p>About</p></a>
                <a href="{{ absolute_url(path("home_contact")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-envelope w3-xxlarge"></i><p>Contact</p></a>
                <a href="{{ absolute_url(path("security_login")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-sign-in w3-xxlarge"></i><p>Sign in</p></a>
            {% endif %}
        </div>

        <div class="w3-bottom w3-hide-large w3-hide-medium" id="myNavbar">
            <div class="w3-bar w3-green w3-opacity w3-hover-opacity-off w3-center w3-small w3-card">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ absolute_url(path("frontend_user_index")) }}" class="w3-bar-item w3-button"><i class="fa fa-home w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("frontend_user_preference")) }}" class="w3-bar-item w3-button"><i class="fa fa-coffee w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("security_logout")) }}" class="w3-bar-item w3-button w3-hover-black"><i class="fa fa-sign-out w3-xxlarge"></i></a>

                    <a href="{{ absolute_url(path("backend_admin_user_report")) }}" class="w3-bar-item w3-button"><i class="fa fa-clipboard w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("backend_admin_user_member")) }}" class="w3-bar-item w3-button"><i class="fa fa-users w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("frontend_user_detail")) }}" class="w3-bar-item w3-button"><i class="fa fa-cog w3-xxlarge"></i></a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ absolute_url(path("frontend_user_index")) }}" class="w3-bar-item w3-button"><i class="fa fa-home w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("frontend_user_preference")) }}" class="w3-bar-item w3-button"><i class="fa fa-coffee w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("frontend_user_detail")) }}" class="w3-bar-item w3-button"><i class="fa fa-cog w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("security_logout")) }}" class="w3-bar-item w3-button"><i class="fa fa-sign-out w3-xxlarge"></i></a>
                {% else %}
                    <a href="{{ absolute_url(path("home_index")) }}" class="w3-bar-item w3-button"><i class="fa fa-home w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("home_about")) }}" class="w3-bar-item w3-button"><i class="fa fa-user w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("home_contact")) }}" class="w3-bar-item w3-button"><i class="fa fa-envelope w3-xxlarge"></i></a>
                    <a href="{{ absolute_url(path("security_login")) }}" class="w3-bar-item w3-button"><i class="fa fa-sign-in w3-xxlarge"></i></a>
                {% endif %}
            </div>
        </div>

        <div class="w3-container w3-card">
            <h4 class="page-header w3-right">
                Welcome
                {{ app.user ? app.user.firstName : 'Tea Lovers' }}!
            </h4>
        </div>

        <div class="w3-container menu-left-margin">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="w3-panel w3-{{ label }} w3-display-container">
                        <p>
                            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-{{ label }} w3-large w3-display-topright">&times;</span>
                            {{ message|raw }}
                        </p>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

            <hr>

            <footer class="w3-content w3-cell-row w3-text-grey w3-xlarge">
                <div class="w3-container w3-cell w3-center w3-mobile">
                    <i class="fa fa-facebook-official w3-hover-opacity"></i>
                    <i class="fa fa-instagram w3-hover-opacity"></i>
                    <i class="fa fa-snapchat w3-hover-opacity"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                    <i class="fa fa-twitter w3-hover-opacity"></i>
                    <i class="fa fa-linkedin w3-hover-opacity"></i>
                    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
                </div>
            </footer>

        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/w3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery/jquery-2.2.3.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
