{% extends 'base.html.twig' %}
{% block body %}
    <h1>My TEA details!</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="w3-container w3-teal w3-margin-top">
            <h2>Change my Tea group name!</h2>
        </div>

        {{ form_start(formTeaGroup, {attr: {class: 'w3-container w3-card-4'} }) }}

        {{ form_row(formTeaGroup.name, {
            'value' : teaGroup.name
        }) }}

        <button type="submit" class="w3-btn w3-margin-bottom w3-right w3-teal" formnovalidate>Update Tea group name!</button>
        {{ form_end(formTeaGroup) }}
    {% endif %}

    <div class="w3-container w3-teal w3-margin-top">
        <h2>Change my password!</h2>
    </div>

    {{ form_start(formPassword, {attr: {class: 'w3-container w3-card-4'} }) }}

    {{ form_row(formPassword.plainPassword.first, {
        'label': 'Password'
    }) }}
    {{ form_row(formPassword.plainPassword.second, {
        'label': 'Password Again'
    }) }}

    <button type="submit" class="w3-btn w3-margin-bottom w3-right w3-teal" formnovalidate>Update my password!</button>
    {{ form_end(formPassword) }}

    {% if is_granted('ROLE_ADMIN') %}
        <h3>
            <a href="{{ absolute_url(path('backend_admin_user_deactivate')) }}"
               class="w3-btn w3-red w3-block"
               title="Deactivate my Tea group"
               onclick="return confirm('Are you sure you want to deactivate your group and all its members?')"
            >
                Deactivate my Tea group!
            </a>
        </h3>
    {% else %}
        <h3>
            <a href="{{ absolute_url(path('backend_admin_user_deactivate')) }}"
               class="w3-btn w3-red w3-block"
               title="Deactivate my Tea account"
               onclick="return confirm('Are you sure you want to deactivate your account?')"
            >
                Deactivate my Tea account!
            </a>
        </h3>
    {% endif %}

{% endblock %}