{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="w3-container w3-teal w3-margin-top">
                    <h1>Login!</h1>
                </div>

                {{ form_start(formLogin, {attr: {class: 'w3-container w3-card-4'} }) }}
                {{ form_row(formLogin._username) }}
                {{ form_row(formLogin._password) }}

                {% if formLoginError %}
                    <div class="w3-panel w3-red w3-display-container">
                        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright">&times;</span>
                        <p>{{ formLoginError.messageKey|trans(formLoginError.messageData, 'security') }}</p>
                    </div>
                {% endif %}

                <button type="submit" class="w3-btn w3-margin-bottom w3-right w3-teal">Login <span class="fa fa-lock"></span></button>
                {{ form_end(formLogin) }}
            </div>
            <div class="w3-margin w3-center">
                <h3><a class="w3-btn w3-light-gray" href="{{ absolute_url(path('security_register')) }}" title="Register now">
                    Not part of a Tea group yet, create your own right now!
                </a></h3>
            </div>
        </div>
    </div>
{% endblock %}

